@import "tailwindcss";
@plugin "daisyui";

/*Logo lopp proceso*/
.logoloop {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.logoloop--horizontal {
  height: var(--logoloop-logoHeight, 28px);
}

.logoloop--vertical {
  width: 100%;
  height: 100%;
}

.logoloop__track {
  display: flex;
  gap: var(--logoloop-gap, 32px);
  will-change: transform;
}

.logoloop--horizontal .logoloop__track {
  flex-direction: row;
}

.logoloop--vertical .logoloop__track {
  flex-direction: column;
}

.logoloop__list {
  display: flex;
  gap: var(--logoloop-gap, 32px);
  margin: 0;
  padding: 0;
  list-style: none;
}

.logoloop--horizontal .logoloop__list {
  flex-direction: row;
}

.logoloop--vertical .logoloop__list {
  flex-direction: column;
}

.logoloop__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.logoloop__image {
  height: var(--logoloop-logoHeight, 28px);
  width: auto;
  object-fit: contain;
}

.logoloop__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.logoloop--scale-hover .logoloop__item:hover {
  transform: scale(1.1);
}

.logoloop--fade {
  mask-image: linear-gradient(
    to right,
    transparent,
    black 20%,
    black 80%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 20%,
    black 80%,
    transparent
  );
}

.logoloop--vertical.logoloop--fade {
  mask-image: linear-gradient(
    to bottom,
    transparent,
    black 20%,
    black 80%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    black 20%,
    black 80%,
    transparent
  );
}

